﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>Acheter des crédits</h1>

<select class="combo">:


    <form method="post">

    <option value="Select">Crédits...</option>
    <option value="1">1 Crédit 1 &#8364;</option>
    <option value="5">5 Crédits 4 &#8364;</option>
    <option value="10">10 Crédits 7 &#8364;</option>
    <input type="submit" value="Valider" />

    </form>
    






</select>

