﻿@using Fr.EQL.AI110.DLD_GC.Entities
@using Fr.EQL.AI110.DLD_GC.WebApp.Models
@model DonSearchViewModel

<body class="Main">
    <article>
        <div>
            <H1>Bienvenue sur DLD</H1>
        </div>
        <div>
            <H3>Le Catalogue</H3>
        </div>

        <form method="post">
            @*
                <input asp-for="SearchCriteria.ProduitName"></input>
                <input type="submit" value="Rechercher" />
            *@


            <nav class="catalog">
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="FeL" asp-route-rayonId="1">
                    <div class="FeL2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="VeP" asp-route-rayonId="2">
                    <div class="VeP2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="PeP" asp-route-rayonId="3">
                    <div class="PeP2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="F" asp-route-rayonId="4">
                    <div class="F2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="S" asp-route-rayonId="5">
                    <div class="S2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="B" asp-route-rayonId="6">
                    <div class="B2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="ESalee" asp-route-rayonId="7">
                    <div class="ESalee2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="ESucree" asp-route-rayonId="8">
                    <div class="ESucree2">
                    </div>
                </a>
            </nav>
        </form>

        <div>
            <H3>Notre mission</H3>
        </div>
        <div>
            <H4>
                Notre idée fédératrice est de faciliter les dons d'excédents de légumes maraîchers et de produits en date courte.
                <br />
                <br />
                DLD a donc été mis en place pour faciliter les échanges entre les personnes afin de réduire le gaspillage et/ou les pertes de manière simple et rapide.
                L'idée maîtresse est de favoriser la mise en contact des adhérents, qu'ils soient donneurs ou bénéficiaires.
                <br />
                <br />
                Régalez-vous!
                <br />
                :)
            </H4>
        </div>
    </article>
</body>

