﻿@using Fr.EQL.AI110.DLD_GC.Entities
@using Fr.EQL.AI110.DLD_GC.WebApp.Models
@model MesDonsViewModel

<div class="mesdonsselection">
    <form method="post">

        <label for="adherent">Adherent :&nbsp;</label>
        <select asp-for="SelectedAdherentId">
            <option value="" selected disabled hidden>Selectionner un adherent</option>
            <option value="0">Tous</option>
            @foreach (Adherent adherent in Model.Adherents)
            {
                <option value="@adherent.Id">@adherent.FirstName @adherent.LastName</option>
            }
        </select>
        <label for="adherent">Rôle :&nbsp;</label>
        <select asp-for="AdherentRole">
            <option value="0">Tous</option>
            <option value="1">Donateur</option>
            <option value="2">Bénéficiaire</option>

        </select>

        <input value="Filter" type="submit" />

    </form>
</div>
<div class="mesdonsresults">
    @foreach (DonDetails don in Model.Dons)
    {
        <article class="mesdonsarticle">



            <header>

                @if (don.BeneficiaryId == Model.SelectedAdherentId)
                {
                    <p>Réservé</p>
                }
                else if (don.DonorId == Model.SelectedAdherentId)
                {
                    <p>Proposé</p>

                }else{
                    <p>&nbsp</p>
                }
                
                <a style="text-decoration:none; color:black;" asp-controller="Don"
                   asp-action="Details"
                   asp-route-donId="@don.Id"
                   asp-route-adherentId="@don.DonorId">
                    <img class="mesdonsimage" src="/images/@don.DonorId/@don.Picture" alt="" onerror="this.onerror=null; this.src='/images/default.png'">
                </a>
            </header>
            <span>
                <a style="text-decoration:none; color:black;" asp-controller="Don"
                   asp-action="Details"
                   asp-route-donId="@don.Id"
                   asp-route-adherentId="@don.DonorId">
                @*<a style="text-decoration:none; color:black;" href="../Don/Details/@don.Id">*@

                    <h1>@don.ProduitName, @don.Qty @don.UniteName</h1>
                    </a>
                @*</a>*@
            </span>
            <span>
                @if (!don.Dlc.Equals(null))
                {
                    <p>DLC: @don.Dlc</p>
                }
                else if (!don.Ddm.Equals(null))
                {
                    <p>DDM: @don.Ddm</p>
                }
            </span>
            <span>
                @if (!don.AltStreetNb.Equals(null))
                {
                    <p>
                        @don.AltStreetNb @don.AltStreetName @don.AltCompAdr <br>
                        @don.DonPostcode @don.DonCity
                    </p>
                }
                else if (!don.RelStreetNb.Equals(null))
                {
                    <p>
                        @don.RelStreetNb @don.RelStreetName @don.RelCompAdr <br>
                        @don.RelaisPostcode @don.RelaisCity
                    </p>
                }
                else if (!don.PartStreetNb.Equals(null))
                {
                    <p>
                        @don.PartStreetNb @don.PartStreetName @don.PartCompAdr <br>
                        @don.PartPostcode @don.PartCity
                    </p>
                }
                else
                {
                    <p>
                        @don.DonorStreetNb @don.DonorStreetName @don.DonorCompAdr <br>
                        @don.DonorPostcode @don.DonorCity
                    </p>
                }
            </span>
        </article>
    }
</div>