﻿@using Fr.EQL.AI110.DLD_GC.Entities
@using Fr.EQL.AI110.DLD_GC.WebApp.Models
@model DonSearchViewModel

<form method="post">
    <input asp-for="SearchCriteria.ProduitName"></input>
    <input type="submit" value="Rechercher" />
</form>
<section class="catalogue">

    @foreach (DonDetails don in Model.Dons)
    {
    <article>
        <header>@don.Picture</header>
        <span>@don.ProduitName</span> 
        <span>@don.Dlc</span> 
        <!-- ajouter bouton voir détails -->
    </article>
    }

</section>
