﻿@using Fr.EQL.AI110.DLD_GC.Entities
@model DonDetails
@{
    List<Categorie> categories = ViewBag.ListCategories;
    List<Categorie2> categories2 = ViewBag.ListCategories2;
    List<Categorie3> categories3 = ViewBag.ListCategories3;
    List<AdherentDetails> adherents = ViewBag.ListAdherents;
    List<ProduitDetails> produits = ViewBag.ListProduitsDetails;
    List<StockageDetails> stockages = ViewBag.ListStockages;
    List<Relais> relais = ViewBag.ListRelais;
    List<Jour> jours = ViewBag.ListJours;
    List<Unite> unites = ViewBag.ListUnites;
    List<Conservation> conservations = ViewBag.ListConservations;
}

<body class="donNew">
    <article>

        <div class="TitleNew">
            <h1>Créer Don</h1>
        </div>

        <div class="NewForm">
            <form method="post">
                <div class="NewUnitId">
                    <label asp-for="UniteId" class="DonFormText">Unite</label>
                    <select asp-for="UniteId" class="viewNewId">
                        @foreach (Unite unite in unites)
                        {
                            <option value="@unite.Id">@unite.Name</option>
                        }
                    </select>
                </div>
                <br />
                <div class="NewConservationId">
                    <label asp-for="ConservationId">Conservation</label>
                    <select asp-for="ConservationId">
                        @foreach (Conservation conservation in conservations)
                        {
                            <option value="@conservation.Id">@conservation.Name</option>
                        }
                    </select>
                </div>
                <br />
                <div class="NewDonorId">
                    <label asp-for="DonorId">Donateur</label>
                    <select asp-for="DonorId">
                        @foreach (AdherentDetails adherent in adherents)
                        {
                            <option value="@adherent.Id">@adherent.FirstName</option>
                        }
                    </select>
                </div>
                <br />
                <div class="NewProduitId">
                    <label asp-for="ProduitId">Produit</label>
                    <select asp-for="ProduitId">
                        @foreach (ProduitDetails produit in produits)
                        {
                            <option value="@produit.Id">@produit.Name</option>
                        }
                    </select>
                </div>
                <br />
                <div class="NewQty">
                    Quantite du Don : <input asp-for="Qty" />
                </div>
                <br />
                <div class="NewDlc">
                    DLC : <input asp-for="Dlc" />
                </div>
                <br />
                <div class="NewDdm">
                    DDM : <input asp-for="Ddm" />
                </div>
                <br />
                <div class="NewDonName">
                    <label asp-for="Cat3Name">Don</label>
                    <select asp-for="Cat3Name">
                        @foreach (Categorie3 categorie3 in categories3)
                        {
                            <option value="@categorie3.Id">@categorie3.Name</option>
                        }
                    </select>
                </div>
                <br />
                <div hidden class="NewStockageId">
                    <label asp-for="StockageId">Espace de stockage</label>
                    <select asp-for="StockageId">
                        @foreach (Relais relai in relais)
                        {
                            <option value="@relai.RelaisId">@relai.RelaisName</option>
                        }
                    </select>
                </div>
                <br />
                @*<label>Jour et horaire pour récupérer le don</label>
                <div class="jourethoraire">
                    <p class="JoursSemaine">
                        @foreach (Jour jour in jours)
                        {
                            <select hidden asp-for="HorairesDon[(int)jour.Id-1].MorningStart">
                                <option value="@{new TimeSpan(9,0,0);}"></option>
                            </select>
                            <select hidden asp-for="HorairesDon[(int)jour.Id-1].MorningEnd">
                                <option value="@{new TimeSpan(12,0,0);}"></option>
                            </select>
                            <select hidden asp-for="HorairesDon[(int)jour.Id-1].AfternoonStart">
                                <option value="@{new TimeSpan(14,0,0);}"></option>
                            </select>
                            <select hidden asp-for="HorairesDon[(int)jour.Id-1].AfternoonEnd">
                                <option value="@{new TimeSpan(17,0,0);}"></option>
                            </select>
                        }
                    </p>
                </div>*@
                Photo du Don : <input type="file" name="DonPicture" />

                <input type="submit" value="Enregistrer" />

            </form>
        </div>
    </article>
</body>
