﻿@using Fr.EQL.AI110.DLD_GC.Entities
@model DonDetails

<h1>Votre Don a bien été réservé</h1>


<form method="post">

    <img src="/images/Valide.png" />
    <br />
    <br />
    <input type="submit" value="Retour" />
    <select hidden asp-for="Id">
        <option selected value="@Model.Id"></option>
    </select>

</form>