/*#region LAYOUT*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(/images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

header {
    margin-top: 5px;
    _background-color: antiquewhite;
}

    header .topBar {
        _color: snow;
        text-align: center;
    }

footer {
    background-color: black;
    opacity: 70%;
    _color: snow;
    text-align: center;
}
/*#endregion*/

/*#region MainUI (edited by Thibault)*/

/*#region Accueil*/
.Main {
    color: white;
}

.Main h3 {
    margin-top:15px;
    margin-bottom:15px;
}

.Main h4 {
    padding:15px;
    background-color:snow;
    border:groove snow;
    opacity:90%;
    color:black;
    text-align:justify;
}

.catalog {
    margin-top: 1%;
    display: flex;
    flex-flow: wrap;
    padding: 5px;
    border: groove snow;
    border-radius: 0px;
    background-color: snow;
    opacity: 90%;
}

    .catalog .item {
        margin: auto;
        padding: 5px;
    }

        .catalog .item div {
            height: 140px;
            width: 280px;
            padding: 5px;
            text-align: center;
            border: groove antiquewhite;
            border-radius: 0px;
            text-shadow: 0px 0px 5px snow, 0 0 10px snow, 0 0 10px snow;
        }

    .catalog * {
        mix-blend-mode: normal;
    }

        .catalog * :hover {
            _mix-blend-mode: overlay;
            box-shadow: 0px 0px 5px white, 0 0 10px green, 0 0 10px yellow;
        }

.FeL2 {
    background-image: url(/images/categories/FeL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.VeP2 {
    background-image: url(/images/categories/VeP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.PeP2 {
    background-image: url(/images/categories/PeP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.F2 {
    background-image: url(/images/categories/F.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.S2 {
    background-image: url(/images/categories/S.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.B2 {
    background-image: url(/images/categories/B.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ESalee2 {
    background-image: url(/images/categories/ESalee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ESucree2 {
    background-image: url(/images/categories/ESucree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*#endregion*/

/*#region Recherche*/
.FeL {
    background-image: url(/images/categories/WP/FeLWP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: snow;
}

    .FeL .catalog {
        margin-top: 15px;
        display: flex;
        flex-flow: row;
        overflow: hidden;
    }

        .FeL .catalog .item div {
            height: 75px;
            width: 150px;
            padding: 1px;
        }

.VeP {
    background-image: url(/images/categories/WP/VePWP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: snow;
}

    .VeP .catalog {
        margin-top: 15px;
        display: flex;
        flex-flow: row;
        overflow: hidden;
    }

        .VeP .catalog .item div {
            height: 75px;
            width: 150px;
            padding: 5px;
        }

.PeP {
    background-image: url(/images/categories/WP/PePWP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    .PeP .catalog {
        margin-top: 15px;
        display: flex;
        flex-flow: row;
        overflow: hidden;
    }

        .PeP .catalog .item div {
            height: 75px;
            width: 150px;
            padding: 5px;
        }

.F {
    background-image: url(/images/categories/WP/FWP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: snow;
}

    .F .catalog {
        margin-top: 15px;
        display: flex;
        flex-flow: row;
        overflow: hidden;
    }

        .F .catalog .item div {
            height: 75px;
            width: 150px;
            padding: 5px;
        }

.S {
    background-image: url(/images/categories/WP/SWP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: snow;
}

    .S .catalog {
        margin-top: 15px;
        display: flex;
        flex-flow: row;
        overflow: hidden;
    }

        .S .catalog .item div {
            height: 75px;
            width: 150px;
            padding: 5px;
        }

.B {
    background-image: url(/images/categories/WP/BWP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    .B .catalog {
        margin-top: 15px;
        display: flex;
        flex-flow: row;
        overflow: hidden;
    }

        .B .catalog .item div {
            height: 75px;
            width: 150px;
            padding: 5px;
        }

.ESalee {
    background-image: url(/images/categories/WP/ESaleeWP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: snow;
}

    .ESalee .catalog {
        margin-top: 15px;
        display: flex;
        flex-flow: row;
        overflow: hidden;
    }

        .ESalee .catalog .item div {
            height: 75px;
            width: 150px;
            padding: 5px;
        }

.ESucree {
    background-image: url(/images/categories/WP/ESucreeWP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: snow;
}

    .ESucree .catalog {
        margin-top: 15px;
        display: flex;
        flex-flow: row;
        overflow: hidden;
    }

        .ESucree .catalog .item div {
            height: 75px;
            width: 150px;
            padding: 5px;
        }
/*#endregion */

/*#region Filtres*/
.filterSearch {
    margin-top: 15px;
    border: groove snow;
    background-color: snow;
    color: black;
    opacity: 90%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

    .filterSearch * {
        text-align: center;
        margin: 5px;
    }

    .filterSearch .left {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .filterSearch input {
        max-width: 150px;
    }

    .filterSearch select {
        max-width: 150px;
    }
/*#endregion*/

/*#region ResultatRecherche*/
.searchResult {
    margin-top: 15px;
    _border: groove snow;
    _background-color: snow;
    color: black;
    opacity: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

/*#endregion*/
/*#endregion*/

/*#region Rubriques (edited by Saveliy)*/
/*#region MesDons*/
.mesdonsselection {
    padding: 5px 5px 5px 5px;
    background-color: white;
}

.mesdonsresults {
    padding: 5px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-wrap:wrap;
}

.mesdonsresults > p{
    padding:0;
}

.mesdonsarticle {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    width: 25rem;
    max-height: 33rem;
    min-height: 33rem;
    border: solid antiquewhite;
}

.mesdonsarticle h1{
    color:#114d0c;
    font-size: calc(4vw+4vh+2vmin) !important;
}

.mesdonsimage {
    max-width: 100%;
    height: 30vh;
    border: solid antiquewhite;
}
/*#endregion*/

/*#region ViewDetails*/
.product-categories {
    padding: 0px 0px 5px 0px;
}
.detailed-view-body {
    display: flex;
    flex-direction: column;

}

.detailed-view-content{
    display:flex;
    justify-content:center;

}

.detailed-view-don-segment {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    min-width: 40vw;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: solid antiquewhite;
}

.detailed-view-don-segment p {
    margin:0px !important;
}
div, .DonFormText {
    text-align: center;
    
}
.boxgetall {
    display: flex;
    display:grid;
    border: dotted;
    border: 5px dotted #000000;
    border-radius:10px;
    background-color: #e27a7a
}

.detailed-view-donor-and-control-segment {
    display: flex;
    flex-direction: column;
    max-width: 25vw;
    min-width: 25vw;
    background-color: white;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    justify-content: space-evenly;
    text-align: center;
    border: solid antiquewhite;
}

.availability-timetable {
    align-self: center;
}

td {
    text-align: center;

}


.product-photo-div {
    max-width: 100%;
    max-height: 40vh;
    object-fit: contain;
    align-self: auto;
    filter: drop-shadow(0 -3px 0 antiquewhite) drop-shadow(-3px 0 0 antiquewhite) drop-shadow(0 3px 0 antiquewhite) drop-shadow(3px 0 0 antiquewhite);
}
.donBox {
    display: flex;
    align-items: center;

}
.product-photo-div > img{
    max-height: 100%;
    max-width: 100%;

}
/*#endregion*/
/*#endregion*/

/*#region Rubriques (edited by Andre)*/
/*#region ViewNew*/
.donNew header {
    color:snow;
}

.donNew h1 {
    color:snow;
}

.donNew article {
    margin:auto;
}

.NewForm {
    font-size:large;
    color:black;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-content:space-between;
    width:450px;
    border:groove snow;
    background: snow;
    align-items:center;
    font:bolder;
    padding:5px
}
.jourethoraire{
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    
    padding:8px;
}
.boxtime{
    width:80px;
    height:30px;
}
/*#endregion*/
/*#endregion*/